/*
GLOBALS
*/

html {
  font-size: 62.5%; /* esto equivale a definir font-size: 10px;*/
}

body {
  font-size: 1.3rem;
  font-family: "Nunito Sans", sans-serif;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Nunito Sans", sans-serif;
}
p {
  line-height: 1.4;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 960px;
  width: 100%;
  margin: auto;
}
/*
btn-icon
*/
/* .btn-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    text-align: center;
    line-height: 28px;
    border-radius: 100%;
    font-size: 13px;
} */

/* 
MAIN 
*/
.information-product {
  display: flex;
  justify-content: space-between;
}

.banner-shop figure img {
  width: 100%;
}

.images-area {
  width: 58%;
  text-align: center;
  /* border: solid; */
}

.big-image figure img {
  width: 80%;
}

.short-image {
  display: flex;
  justify-content: space-between;
}

.short-image figure img {
  width: 10rem;
}

.description-area {
  width: 38%;
  /* border: solid; */
}

.product-name {
  color: #222229;
  font-size: 2rem;
  margin: 3rem 0rem 2rem 0rem;
}

.valoracion {
  color: orange;
  margin: 1rem 0rem 1rem 0rem;
}

.valoracion-comment{
    margin-left: 2rem;
    color: black;
}

.prices {
  margin: 2rem 0rem 2rem 0rem;
}

.price-old {
  color: gray;
}

.price-new {
  color: #d26b31;
  font-size: 2.3rem;
  font-weight: bold;
  margin-left: 2rem;
}

.icon-check {
  margin: 2rem 0rem 2rem 0rem;
}

.icon-check i {
  color: #81ca33;
}

.product-stock{
    margin-left: 1rem;
    font-size: 1.3rem;
}

.short-description {
  margin: 2rem 0rem 2rem 0rem;
  color: #6B6D65;
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.size-carrito {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 2rem 2rem 2rem;
  /* border: solid; */
}

.size-carrito select {
  height: 20px;
  width: 60px;
}

.btn-carrito {
  background-color: #87b106;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  width: 200px;
  padding: 9px;
  text-align: center;
}
/* 
.list-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-afines{
    width: 18rem;
    /-* border: solid; *-/
}

.product-afines figure img{
    width: 100%;
}

.product-name-2{
    font-weight: bold;
}

.price-old-2{
    color: gray;
    font-size: 1.2rem;
}

.price-new-2{
    color: gray;
    font-weight: bold;
    font-size: 2rem;
    color: #d26b31;
}

.valoracion-2{
    color: orange;
}
.carrito-add{
    background-color: #87b106;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
}

.carrito-add i{
    color: white;
} */